* {
  font-family: 'Quicksand', sans-serif !important;
}
@media (max-width: 1080px) {
  .searchBar {
    margin-right: 1em;
  }
}

label,
button,
input {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.App {
  text-align: center;
  background-color: rgb(40, 40, 40);
  /* background-image: url('images/Curve\ Line.svg'); */
  min-height: 100vh;
  font-size: 18px;
  background-repeat: repeat-y;

}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #131313;
  border: 1px black solid;
  text-decoration: none;
  position: sticky;
   top: 0;
   z-index: 100;
   
}

.navBar a {
  text-decoration: none;
  font-size: 1.3em;
  color: #ffffff;
}

.navRight{

  min-width: fit-content;
  max-width: fit-content;
  position: sticky;
 
}

#logo{
 
border:solid 0.5px rgb(16, 100, 174);

}


.navBar a:hover {
  color: #648fff;
}

.searchBar {
  display: flex;
  margin-top: 0em;
  align-items: flex-end;
}

.searchBar input {
  
  
 width: 250px;
  flex-grow: 2;
  padding: 9px 10px 9px 32px;
  border: 0px;
  font-size: 1em;
  margin: 0px;
  outline: none;
  background: #c6c6c6;
  
 
}

.searchBar input:hover {
  background-color: white;
 }

.searchBar button {
  border: 0px;
  font-size: 1em;
  outline: 0;
 
}





.mainContainer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.secondaryContainer{
  /* background: magenta; */
  width: 20%;
  min-width: 200px;
  min-height: 350px;
  border: solid black 0.5px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: rgb(227, 227, 227);
  padding: 50px;
  

}

.baseForm {
  margin-top: 1.3em;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 1000%;
  /* background-color: papayawhip; */
}

.baseForm button {
  padding: 9px 10px 9px 32px;
  /* box-sizing: border-box; */
  border: 0px;
  font-size: 1em;
  margin: 1em 0em 1em;
  outline: none;
  padding-left: 1.2em;
  padding-right: 1.2em;
  }

.baseForm button:hover {
  background-color: #648fff;
  color: #ffffff;

}

input[type="file"] {
  display: none;
}

.fileUpload {
  padding: 9px 10px 9px 10px;
  margin: 1em;
  background-color: #bcbcc1;
  color: white;
}

.fileUpload:hover {
  background: rgb(78, 78, 228);
  color: black;
}

.tagsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0px;
  margin: 0px;
  min-height: 50px;
  
}

.tagsBox > p {
  max-width: 100%;
  word-wrap:break-word;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  background-color: #648fff;
  color: white;
  margin-bottom: 0.3em;
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  color: #000000;
  margin: 0.3em;
}

h4 {
  color: #141315;
  margin: 0.2em;
}

.bottomMargin {
  margin-bottom: 18px;
}

.songCard{
  font-size: 10x;
  border: none;
  margin: 3em;
  background: rgb(232, 232, 232);
  min-width: 300px;
  max-width: 300px;
  max-height: auto;
  min-height: 300px;
  border-radius: 7px;
  border:solid 1px black;
 
  
}

.songsListContainer{

  display: flex;
  justify-content: center;  
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;



}
.songCard:hover{
  
  box-shadow: rgba(63, 98, 235, 0.4) -5px 5px, rgba(63, 98, 235, 0.3) -10px 10px, rgba(63, 98, 235, 0.2) -15px 15px, rgba(63, 98, 235, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  ;
    transition: 0.3s all ease-in-out;

}


.songCardDetails{

 background-color:black!;
}

.piano-roll-visualizer{

  width:1000px;
  background-color: rgb(227, 227, 227);
}

.Input{

  min-width: 300px !important ;


}

.likeAndDownloadContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.likeAndDownloadContainer > a{
  margin-right: 20px;
  margin-top:0.5px;
  
}

.cardTop{
  text-align: center;
  background: linear-gradient(#648fff, #d0d0d0);
  /* margin-bottom: 5px; */
  border-radius: 3px;
  width:auto;
  height:auto;
  padding-top:5px;
  border-bottom: 1px solid grey;
}


#heartIcon{

  padding-bottom: 3px!important;

 
}

.likeAndDownloadContainer{

  padding-top: 45%;
  
  margin-top: auto;
  padding-right:60%;


}

.customButton:Hover{

  color:#648fff;
  transition: 0.2s all ease-in-out;
  cursor:pointer;
}

.Input{
  margin-bottom: 40px !important;
  
}

.detailsContainer{

  border:0.5px solid rgb(126, 126, 126);
  padding: 20px;
  border-radius: 5px;
  background-color:rgb(227, 227, 227);;


  
}



midi-player{

  margin-bottom: 50px;
  border-radius: 5px;
}


.searchTickBoxesContainer{

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin:none;
  padding: none;
  text-align: start;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
 

}


.accordionContainer{
  max-height:10em; 
  font-size: 10px;
  /* margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between; */
  
  margin-left: 55%;
  text-align: left;

}


.searchBar > button {

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10;
  border-top-right-radius: 10;
  height:40px;
  margin-bottom: 1px;
}


.searchBar > button:hover {
  background-color: #648fff;
  transition: 0.3s all ease-in-out;
}

